__pycache__/run.cpython-38.pyc
api_env/share/terminfo/E/Eterm
api_env/share/terminfo/E/Eterm-color
api_env/share/terminfo/L/LFT-PC850
api_env/share/terminfo/N/NCR260VT300WPP
api_env/share/terminfo/N/NCRVT100WPP
api_env/share/terminfo/P/P4
api_env/share/terminfo/P/P5
api_env/share/terminfo/P/P7
api_env/share/terminfo/P/P8
api_env/share/terminfo/P/P8-W
api_env/share/terminfo/P/P9
api_env/share/terminfo/P/P9-8
api_env/share/terminfo/P/P9-8-W
api_env/share/terminfo/P/P9-W
api_env/share/terminfo/P/P12
api_env/share/terminfo/P/P12-M
api_env/share/terminfo/P/P12-M-W
api_env/share/terminfo/P/P12-W
api_env/share/terminfo/P/P14
api_env/share/terminfo/P/P14-M
api_env/share/terminfo/P/P14-M-W
api_env/share/terminfo/P/P14-W
static/scss/_globals.scss
static/scss/style.css
static/scss/style.css.map
templates/layout.html
