@media (min-width: 1024px) {
  .reponsHero {
    min-height: 42rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reponsHero__image {
  position: relative;
  background-image: url("images/nextGen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 1024px) {
  .reponsHero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 41rem;
    background-position: left center;
  }
}

.reponsHero__image::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 28%;
  background-size: 93%;
  background-image: url("images/b.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
}

.reponsHero__text {
  text-align: center;
}

@media (min-width: 1024px) {
  .reponsHero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 41rem;
    text-align: left;
  }
}

.reponsHero__text p {
  line-height: 1.5;
  margin: 10px;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1.125rem;
  font-weight: 300;
  color: #9698a6;
  font-family: "Public sans", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 300vh;
  overflow-x: hidden;
  /*@include breakpoint-up(large {
    font-size: $font-med;
  }*/
}

@media (min-width: 1024px) {
  body {
    font-size: 1.26rem;
  }
}

body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #9698a6;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

h1 {
  font-weight: 300;
  font-size: 1.54rem;
  line-height: 1;
  color: #2d314d;
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.621rem;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2.2532rem;
    margin-bottom: 2.521rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  display: inline-block;
  padding: 1rem 1.875rem;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(lightgreen), to(#2bb7da));
  background: linear-gradient(to right, lightgreen, #2bb7da);
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

@media (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

@media (min-width: 1024px) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pb {
  padding-bottom: 2.25rem;
}

@media (min-width: 1024px) {
  .container--pb {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pall {
  padding-top: 4.3755rem;
  padding-bottom: 4.3755rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  .container--pall {
    padding-top: 2.55rem;
    padding-bottom: 2.55rem;
  }
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

.header nav {
  padding-top: 1.625rem;
  padding-bottom: 1.5rem;
  position: relative;
  background-color: whitesmoke;
}

.header.open .header__toggle span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  z-index: 1;
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  position: absolute;
  left: 50%;
  width: calc(100% - 3rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.header__menu a {
  color: darkblue;
  padding: 0.6455rem;
  display: block;
  text-align: center;
}

.header__links a {
  font-size: 0.875rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  color: #9698a6;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  background: limegreen;
  left: 0px;
  right: 0px;
  bottom: -5px;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.articles {
  background-color: #f4f4f4;
}

.article__content {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(14.375rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
  gap: 1.85rem;
}

@media (min-width: 1024px) {
  .article__grid {
    -ms-grid-columns: (fr)[4];
        grid-template-columns: repeat(4, fr);
  }
}

@media (min-width: 640px) {
  .article__grid {
    -ms-grid-columns: (fr)[2];
        grid-template-columns: repeat(2, fr);
  }
}

.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px, 3px, 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px, 3px, 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article__image {
  height: 12.3rem;
  background-size: cover;
  background-image: url("images/pic_article.png");
  background-position: center center;
}

.article__text {
  background-color: white;
  padding: 1.825rem 1.825rem 2.5rem 1.825rem;
}

@media (min-width: 640px) {
  .article__text {
    padding: 1.856rem 1.6667rem;
  }
}

.article__title {
  font-size: 1.0234rem;
  margin-bottom: 1rem;
}

.article__auther {
  font-size: 0.63432rem;
  margin-bottom: 0.734remrem;
}

.article__description {
  font-size: 0.834rem;
}

/*.articles {
  background-color: lightgray;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat auto-fit, minmax(230px, 1fr);
      grid-template-columns: repeat auto-fit, minmax(230px, 1fr);
  /*  grid-template-columns: 1fr; */
/*  @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }  }*/
.features {
  background-color: lightgoldenrodyellow;
  text-align: center;
}

@media (min-width: 640px) {
  .features {
    text-align: left;
  }
}

.features__intro {
  margin-bottom: 3.75rem;
}

@media (min-width: 1024px) {
  .features__intro {
    width: 68%;
  }
}

@media (min-width: 640px) {
  .features__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  padding: 0.9376rem;
}

@media (min-width: 640px) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 1024px) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.features__icon {
  margin-bottom: 1.75rem;
}

@media (min-width: 1024px) {
  .features__icon {
    margin-bottom: 2.75rem;
  }
}

.features__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  margin-bottom: 1.5rem;
  color: #2d314d;
}

@media (min-width: 1024px) {
  .features__title {
    font-size: 1.5rem;
    margin-bottom: 2.25rem;
  }
}

.features__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .features__description {
    margin-bottom: 2.25rem;
  }
}

.footer {
  background-color: azure;
  color: white;
  padding: 2.5rem 2.5rem 3.5rem 2.5rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3] 2fr;
        grid-template-columns: repeat(3, 1fr) 2fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "logo links1 links2" "social links1 links2";
  }
}

a {
  color: white;
}

.foot__logo {
  display: inline-block;
  margin-bottom: 1.87345rem;
}

@media (min-width: 1024px) {
  .foot__logo {
    grid-area: logo;
  }
}

.foot__social {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1.8734rem;
}

@media (min-width: 1024px) {
  .foot__social {
    grid-area: social;
  }
}

.foot__social img {
  inline-size: 1.8rem;
}

.foot__social a {
  display: inline-block;
}

.foot__social a:not(:last-child) {
  margin-right: 1rem;
}

.foot__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.25rem;
}

@media (min-width: 1024px) {
  .foot__links.col1 {
    grid-area: links1;
  }
}

@media (min-width: 1024px) {
  .foot__links.col2 {
    grid-area: links2;
  }
}

.foot__copyright {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */