{%extends "layout.html"%}

{% block body %}
history page

<div class="contents">

    <div class="content history_page">

        <div class="content__grid container">
            {% for i in range(0,10)%}
            <div class="content__items">

                <div class="content__title">
                    <h2>Introduction </h2>
                </div>
                <div class="content__description">
                    <p> Islamic scientific achievements encompassed a wide range of subject areas, especially astronomy,
                        mathematics,
                        and medicine.</p>
                </div>
            </div>
            {%endfor%}

        </div>
    </div>




    {%endblock body%}