{%extends "layout.html"%}

{% block body %}

<header class="header">
    <div class="overlay has-fade"></div>

    <nav class="container flex flex-jc-sb flex-jc-c flex-ai-c">
        <a href="/" class="header__logo"> <img src="" alt="RED" />

            <a id="header_toggle" class="header__toggle hide-for-mobile">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="header__links hide-for-mobile">
                <a href="#">Home</a>
                <a href="#">You Know </a>
                <a href="#">You Don't know</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
            </div>

            <a href="#" class="button hide-for-mobile"> Login</a>

    </nav>

    <div class="header__menu has-fade">
        <a href="#">Home</a>
        <a href="#">You Know </a>
        <a href="#">You Don't know</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
    </div>
</header>

<section class="reponsHero">
    <div class="reponsHero__image">

    </div>
    <div class="reponsHero__text container">
        <h1> Next generation Design </h1>
        <a href="#" class="button"> Access The Virtuality</a>
    </div>

</section>



<section class="articles">
    <div class="article__content container container--paddingall">
        <div class="article__grid">
            <a href="#" class="article__item">
                <!--img class="article__image" src="470504.jpg"-->

                <div class="article__text">Gangster Lover</div>
                <div class="article__auther"></div>
                <div class="articel__title"></div>
                <div class="articel__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                    aspernatur impedit at possimus laudantium, eius amet expedita odio
                    suscipit repellat totam! Sapiente eius optio quae porro iusto
                    temporibus, reprehenderit non?
                </div>
            </a>

            <a href="#" class="article__item">
                <div class="article__image"></div>

                <div class="article__text">Real love Lover</div>
                <div class="article__auther"></div>
                <div class="articel__title"></div>
                <div class="articel__description"></div>
            </a>

            <a href="#" class="article__item">
                <div class="article__image"></div>

                <div class="article__text">Gangster Lover</div>
                <div class="article__auther"></div>
                <div class="articel__title"></div>
                <div class="articel__description"></div>
            </a>
        </div>
    </div>
</section>




{% endblock body%}