{%extends "layout.html"%}

{% block body %}

<header class="header">
    <div class="overlay has-fade"></div>

    <nav class="container container-pall flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo"> <img src="" alt="RED" /></a>
        <!--/static/css/images/b.jpg-->

        <a id="header_toggle" class="header__toggle hide-for-desktop">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="header__links hide-for-mobile">
            <a href="#">Home</a>
            <a href="#">You Know </a>
            <a href="#">You Don't know</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
        </div>

        <a href="#" class="button hide-for-mobile"> Login</a>

    </nav>

    <div class="header__menu has-fade">
        <a href="#">Home</a>
        <a href="#">You Know </a>
        <a href="#">You Don't know</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a href="#" class="button"> Login</a>
    </div>
</header>

<section class="reponsHero">
    <div class="reponsHero__image">

    </div>
    <div class="reponsHero__text container--pall">
        <h1> Next generation Design </h1>
        <a href="#" class="button"> Access The Virtuality</a>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit itaque natus soluta doloremque sequi possimus accusamus
            nesciunt sunt explicabo asperiores, harum, iure voluptatibus ea quae id totam? Vel, reprehenderit aspernatur. </p>
    </div>

</section>



<section class="features  ">

    <div class="feature_content  container container--pall">
        <div class="features__intro ">
            <h2> Peoples Features </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus alias quam aliquid, voluptate labore molestiae
                possimus
                quidem.</p>
        </div>

        <div class="features__grid">

            <div class="features__item">

                <div class="features__icon">
                    <img src="" alt="">
                </div>
                <div class="features__title">
                    Children block
                </div>
                <div class="features__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci rem, eligendi non voluptatem ut tenetur vel
                    eius minus obcaecati saepe explicabo esse quasi illo assumenda amet dignissimos odio voluptas earum?
                </div>
            </div>

            <div class="features__item">

                <div class="features__icon">
                    <img src="" alt="">
                </div>
                <div class="features__title">
                    Children block
                </div>
                <div class="features__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci rem, eligendi non voluptatem ut tenetur vel
                    eius minus obcaecati saepe explicabo esse quasi illo assumenda amet dignissimos odio voluptas earum?
                </div>
            </div>

            <div class="features__item">

                <div class="features__icon">
                    <img src="" alt="">
                </div>
                <div class="features__title">
                    Children block
                </div>
                <div class="features__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci rem, eligendi non voluptatem ut tenetur vel
                    eius minus obcaecati saepe explicabo esse quasi illo assumenda amet dignissimos odio voluptas earum?
                </div>
            </div>

            <div class="features__item">

                <div class="features__icon">
                    <img src="" alt="">
                </div>
                <div class="features__title">
                    Children block
                </div>
                <div class="features__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci rem, eligendi non voluptatem ut tenetur vel
                    eius minus obcaecati saepe explicabo esse quasi illo assumenda amet dignissimos odio voluptas earum?
                </div>
            </div>

        </div>
    </div>
</section>




<section class="articles">

    <div class="article__content container container--paddingall">
        <h2>Latest Articles</h2>
        <div class="article__grid">


            <a href="#" class="article__item">
                <div class="article__image"></div>

                <div class="article__text">
                    <div class="article__auther">So in love</div>
                    <div class="article__title">Why i am doing this</div>
                    <div class="article__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                        aspernatur impedit at possimus laudantium, eius amet expedita odio
                        suscipit repellat totam! Sapiente eius optio quae porro iusto
                        temporibus, reprehenderit non?
                    </div>
                </div>
            </a>

            <a href="#" class="article__item">
                <div class="article__image"></div>

                <div class="article__text">
                    <div class="article__auther">Quibusdam</div>
                    <div class="article__title">Real love Lover</div>
                    <div class="article__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        aspernatur impedit at possimus laudantium, eius amet expedita odio
                        suscipit repellat totam! Sapiente eius optio quae porro iusto
                        temporibus, reprehenderit non?
                    </div>
                </div>
            </a>

            <a href="#" class="article__item">
                <div class="article__image"></div>

                <div class="article__text">
                    <div class="article__auther">Quibusdam</div>
                    <div class="article__title">Gangster Lover</div>
                    <div class="article__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        aspernatur impedit at possimus laudantium, eius amet expedita odio
                        suscipit repellat totam! Sapiente eius optio quae porro iusto
                        temporibus, reprehenderit non?
                    </div>
                </div>
            </a>

            <a href="#" class="article__item">
                <div class="article__image"></div>

                <div class="article__text">
                    <div class="article__auther">Quibusdam</div>
                    <div class="article__title">Lorem ipsum</div>
                    <div class="article__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        aspernatur impedit at possimus laudantium, eius amet expedita odio
                        suscipit repellat totam! Sapiente eius optio quae porro iusto
                        temporibus, reprehenderit non?
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>




{% endblock body%}