{%extends "layout.html"%}

{% block body %}
science page

<div class="contents">

    <div class="content">
   
    <div class="content__grid container">

        <div class="content__items">

            <div class="content__title">
                <h2>Introduction </h2>
            </div>
            <div class="content__description">
                <p> Islamic scientific achievements encompassed a wide range of subject areas, especially astronomy, mathematics,
                    and medicine.</p>
            </div>
        </div>
    </div>
</div>




{%endblock body%}