.articles {
  background-color: lightgray;
}

.article {
  &__content {

  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    

  }

  &__item {}

  &__image {
    position: relative;
    background-image: url($article-pic);
  }

  &__text {}


}

































/*.articles {
  background-color: lightgray;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat auto-fit, minmax(230px, 1fr);
      grid-template-columns: repeat auto-fit, minmax(230px, 1fr);
  /*  grid-template-columns: 1fr; */
/*  @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }  }*/