.reponsHero {

  @include breakpoint-up(large) {
    min-height: 42rem;
    display: flex;
    align-items: center;
  }

  &__image {
    // overlay picture and adjust the position size
    position: relative;
    //background-color: red;
    //background-image: url('static/images/nextGen.jpg');
    background-image: url($background-url-svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; // change the overlay mockup image position
    min-height: 17.5rem;
    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-position: left center;
    }



    &::before {
      content: "";
      position: absolute;
      width: 10%;
      height: 28%;
      background-size: 93%;
      background-image: url($background-url-img);
      background-repeat: no-repeat;
      background-position: center bottom;
      //background-position: center bottom;
      left: 50%;
      transform: translateX(-50%) translateY(100%);

      

    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      height: 41rem;
      text-align: left;

    }

    p {
      line-height: 1.5;
      margin: 10px;
    }

    
  }
}