//colors
$darkblue: hsl(233,26%,24%);
$brightcyan:  hsl(192,70%,51%);
$grayishblue:hsl(233,8%,62%);
$lightgrayidshblue: hsl(220,16%,96%);

//font size 
$font-med: 1.125rem;
$font-sm: 0.875rem;
$font-xlg: 1.875rem;


//image url
$logo : 'images/b.jpg';
$background-url-svg: 'images/nextGen.jpg';
$background-url-img: 'images/b.jpg';
 